@import "../../lib/variables.css";

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: var(--card-border-radius);
  padding: 2rem;
  box-shadow: var(--card-shadow);
  justify-items: center;
}

.toolBarColumn {
  display: grid;
  gap: 1rem;
  font-size: large;
  font-weight: 600;
}

.toolBarRow {
  display: flex;
  gap: 1rem;
}
